body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.logo{
  position:absolute;
   left:500px;
  top: 80px;


}
